{
    "contact": {
        "heading": {
            "en": "Contact",
            "no": "Kontakt"
        },
        "elements": {
            "name_word": {
                "en": "Name",
                "no": "Navn"
            },
            "email_word": {
                "en": "Email",
                "no": "Epost"
            },
            "location_word": {
                "en": "Location",
                "no": "Bosted"
            },
            "phone_word": {
                "en": "Phone",
                "no": "Tlf."
            },
            "name": "My Name",
            "email": "My Email",
            "location": {
                "en": "My Location",
                "no": "Min Lokasjon"
            },
            "phone": "My Phone Number"
        }
    }
}
